body {
    background: #000;
    /*    background: #ff7e5f;*/
    /* fallback for old browsers */
    /*    background: -webkit-linear-gradient(to right, #feb47b, #ff7e5f);*/
    /* Chrome 10-25, Safari 5.1-6 */
    /*    background: linear-gradient(to right, #feb47b, #ff7e5f);*/
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}


/* start ナビゲーションバー周り */

.navbar-brand {
    font-size: 1.6rem;
    font-weight: 400;
    letter-spacing: 3px;
    text-decoration: none;
}

.navbar-nav>li>a {
    font-size: 1.9rem;
    font-weight: 600;
    letter-spacing: 2px;
    text-decoration: none;
}


/* end ナビゲーションバー周り */

#bg_mosaic {
    top: 0;
    left: 0;
    position: fixed;
    width: 100%;
    height: 100%;
    filter: alpha(opacity=70);
    -moz-opacity: 0.7;
    opacity: 0.7;
    z-index: 5;
    zoom: 1;
    background: url("/img/bg_mosaic1.png");
}

#logo {
    position: fixed;
    bottom: 1vw;
    right: 1vw;
    z-index: 15;
}

.t_white {
    color: #eee;
    /*	text-shadow: 1px 1px 0 rgba(0, 0, 0, 1);*/
}

.wrapper {
    position: relative;
    z-index: 10;
}

#c_ourinfo {
    display: none;
}

#c_works {
    display: none;
}

.a_white a:link {
    color: white;
}

.a_white a:visited {
    color: white;
}

.a_white a:hover {
    color: white;
}

.a_white a:active {
    color: white;
}
